---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-10">
      <h1 class="text-white text-5xl font-bold flex justify-center flex-row">
        Hola soy bla bla <div class="flex justify-center items-center gap-x-4">
					<Badge>Disponible para trabajar</Badge>
				</div>	
      </h1>
      <h2>sadasdasd</h2>
    </section>
  </main>
</Layout>
